.footer {
  font-weight: bold;
  /*padding-top: 20px;*/
  /*padding-bottom: 20px;*/
  text-align: center;
  bottom:0;
  width:100%;
  padding:15px;
  /*padding-bottom:15px;*/

  position:fixed;    /*to stick to bottom*/
  left:0;            /*to stick to left of body*/
  background:rgba(233, 236, 239, .5)
}


.iconss {
  text-align: center;
}

.iconss .icons {
  display: inline-block;
  margin: 0;
  padding: 0;
  zoom:1;
}

.iconss .icons>li{
  position: relative;
  display: inline;
  float: left;
  padding: 2px 5px;

}
a {
  text-decoration: none !important;
}

