<footer>
  <div class="footer">
    <div class="iconss">
      <ul class="icons">
        <li><a href="mailto:liuzamy@gmail.com" class="fa fa-envelope"></a></li>
        <li><a href="https://www.linkedin.com/in/amyzhiyingliu" class="fa fa-linkedin"></a></li>
        <li><a href="https://github.com/amyzliu" class="fa fa-github-alt"></a></li>
        <li><a href="https://www.facebook.com/amyzhiyingliu" class="fa fa-facebook"></a></li>
        <li><a href="https://twitter.com/_amyzliu" class="fa fa-twitter"></a></li>
        <li><a href="https://www.pinterest.com/liuzamy/" class="fa fa-pinterest"></a></li>
      </ul>
    </div>
    <span class="attribution">
      Amy Zhiying Liu &copy; {{ today | date: 'yyyy' }}.
    </span>
  </div>
</footer>
