<body>
<div class="descr">
  <h2>{{ title }}</h2>

  <div class="row">
    <button class = "btn btn-lg btn-info" [class.Active]="filterBy=='all'" (click)="filterBy='all'">All</button>
    <button class = "btn btn-lg btn-info" [class.Active]="filterBy=='all'" (click)="filterBy='projects'">Projects</button>
    <button class = "btn btn-lg btn-info" [class.Active]="filterBy=='all'" (click)="filterBy='activities'">Activities</button>
    <ul id="thumbnailsList">
      <li *ngFor="let image of (visibleImages | imageFilter: filterBy)">
        <img src="{{image.url}}" class="tn" width="250">
    </ul>
  </div>
</div>
</body>
