
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />

<app-header></app-header>


<!--<div style="text-align:center">-->
  <!--<h1>-->
    <!--Welcome to {{ title }}!-->
  <!--</h1>-->

  <!--<img width="300" alt="My Face" src="../assets/AmyCircleFace.png">-->
<!--</div>-->


<div class="jumbotron">
  <div class="container">
    <h1>Hello, world. </h1>
    <p>My name is Amy Liu. Pleasure to meet you too!</p>
    <!--<div class="learn"><a href="#anchor">Learn More</a></div>-->
  </div>
</div>


<router-outlet></router-outlet>



<router-outlet></router-outlet>
<app-footer></app-footer>

