.img-container {
  margin: 24px;
  align-content: center;
  background-position: center;
  background-repeat:no-repeat;
  box-shadow: #555 1px 2px 8px 1px;
  position: absolute;
  width: 50%;
}

#caption {
  font-size: 1.5em;
  width: 900px;
  color: #222;
  padding: 18px;
  border: 1px solid #bbb;
}

.caption-row{
  padding: 24px;
  text-align: center;
}
