<div class="home-page">
<p> I am a full-time student and part-time dreamer.</p>
<p>When I'm not in class at the University of Waterloo studying computer science with a Business Option, I am exploring the world through thought experiments, esoteric literature and the great outdoors. I can found on the badminton court or in front of a piano but most often up in a tree, solving problems from a higher frame of reference. </p>

<a routerLink="/my-projects" routerLinkActive="active">Click for my projects page</a>

</div>
