<!--<div class="nav">-->

  <!--<ul class="nav nav-pills">-->
    <!--<li><a href="index.html">Amy Liu</a></li>-->
    <!--<li><a href="resume.html">Resume</a></li>-->

    <!--<li><a href="coursenotes.html">Course Notes</a></li>-->
    <!--<li><a href="blog.html">Blog</a></li>-->
    <!--<li><a href="contact.html">Contact</a></li>-->
  <!--</ul>-->

<!--</div>-->




<nav class="navbar navbar-light">
  <div class="container">
    <ul class="nav nav-pills">

      <li class="nav-item">
        <a class="nav-link"
           routerLink="home">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="my-projects">
          Projects
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="blog">
          Blog
        </a>
      </li>

    </ul>

  </div>
</nav>
